
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">  
    <img src="../../../assets/foto.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Herrera Raul Ivan</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Facere quaerat culpa quisquam tempore necessitatibus deserunt rerum inventore tenetur officia minima 
                temporibus optio id obcaecati vero ad, saepe repudiandae! Sed, ullam.</p>
        </span>
    </div>

</div>
