.row{
    padding: 10px;
}
div{
    background-color: gainsboro;
    text-align: center;
   
}

@media (min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 650px;
    }
}
@media (max-width: 576px){
  #fotoPerfil{
      position: center;
      width: 25%;
      border-radius: 100%;
      box-shadow: 3px 3px 3px grey;
      left: 30%;
      top: 600px;
  }
  }
#nombre{
    font-weight: bold;
    margin-top: 20%;
}